$main-font        : 'Ubuntu', sans-serif;
$secondary-font   : 'Playfair Display', serif;

$yellow           : #ffd000;
$black            : #3C241C;
$red              : #F53842;
$blue             : #178DF9;
$grey             : #505D68;
$brown            : #3D241C;

$main-color       : $black;
$secondary-color  : black;


$medium       : 850px;
$large        : 1250px;
$xlarge       : 1550px;
$xxlarge      : 1920px;
$small        : 500px;



// Breakpoint mixin
@mixin breakpoint($breakpoint , $operator) {
    // Get the breakpoint value.
    // $breakpoint-value: map-get($breakpoints, $breakpoint);

    // Write the media query.
    @if $operator="down" {
      @media (max-width: ($breakpoint - 1)) {
        @content;
      }
    } @else if $operator="up"{
      @media (min-width: ($breakpoint - 1)) {
        @content;
      }
    }
}

body{
  // overflow: hidden;
  margin: 0;
  font-family: $main-font;
  color: $main-color;

  @include breakpoint($medium, down){
   font-size: 90%;
  }

}
ul{
  margin: 0;
  padding: 0;

  li{
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

.conf{
  & > a{
    color: $yellow;
    text-decoration: none;
    position: relative;
    font-size: 20px;
    padding-left: 15px;

    &::before{
      content: "";
      position: absolute;
      font-weight: bold;
      width: 15px;
      height: 15px;
      top: 5px;
      transform: rotate( -45deg);
      border-top: 2px solid #FFD02B;
      border-left: 2px solid #FFD02B;
      left: -10px;
    }
  }
  h2{
    text-align: center;
    margin-bottom: 30px;
  }
  p{
    margin:15px 0 ;
  }
}
