
.hidden{
   transform: translateY( calc( -50% + 80px)) !important;
   opacity: 0;
   transition: all linear .6s;
   transition-delay: 1.5s;
}
.up{
  // transition-delay: 2s;
  transform: translateY( calc( -50% - 80px)) !important;
  opacity: 0;
  transition: all linear .6s;
}
.show{
  transform: translateY(-50%);
  opacity: 1;
  transition: all linear .6s;
}

.is_locked{
  overflow: hidden;

  @include breakpoint($medium, down){
    overflow: auto;
  }
}

.main-menu{
  display: flex;
  justify-content: center;

  svg{
    margin: 18px 0 ;
  }
}

h2:not(.no_dash){
  position: relative;
  padding-bottom: 15px;

  &::after{
    content: '';
    position: absolute;
    background-color: $yellow;
    bottom: 0;
    height: 3px;
    border-radius: 5px;
    width: 30%;
    left: 50%;
    transform: translateX(-50%);
  }
}

.home{
  overflow: hidden;

  &__intro{
    background: linear-gradient(180deg, #178DF9 0%, #60B3FF 100%);
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: calc(100vh - 61px);

    h2{
      font-weight: 500;
      font-size: 60px;
      line-height: 70px;
      color: white;
      margin: 0;
      max-width: calc(100% - 450px);

      @include breakpoint($large, down){
        font-weight: bold;
        font-size: 36px;
        line-height: 41px;
        padding-top: 80px;
      }

      @include breakpoint($medium, down){
        max-width: 100%;
        text-align: center;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 41px;
        padding-top: 0;
        padding-bottom: 290px;
      }

      @include breakpoint($small, down){
        padding-bottom: 230px;
      }
    }
    p{
      font-weight: 300;
      font-size: 26px;
      line-height: 37px;
      color: white;
      margin-top: 45px;
      margin-bottom: 70px;
      max-width: calc( 100% - 450px);

      @include breakpoint($medium, down){
        max-width: 100%;
      }

      @include breakpoint($small, down){
         font-weight: normal;
         font-size: 18px;
         line-height: 22px;
         text-align: center;
       }
    }

    &--btns{
      display: flex;

      @include breakpoint($medium, down){
        justify-content: center;
        padding-bottom: 40px;
       }

      a{
        color: white;
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        text-decoration: none;
        border-radius: 5px;
        display: flex;
        align-items: center;

        @include breakpoint($small, down){
           display: none;
         }

        svg{
          margin-left: 8px;

          @include breakpoint($medium, down){
             width: 100%;
           }
        }

        &:first-child{
          background-color: $yellow;
          padding: 13px 45px;
          color: white;
          margin-right: 25px;
          text-transform: uppercase;

          @include breakpoint($medium, down){
             display: block;
             margin: 0
           }
        }
      }
    }

    .visu_intro{
      position: absolute;
      transform: translateY(-50%);
      top: 55%;
      right: 10%;
      max-width: 450px;

      @include breakpoint($large, down){
        transform: translateY(-45%) translateX(0%);
        top: 50%;
        right: 0;
        width: 450px;
      }
      @include breakpoint($medium, down){
        width: 95%;
        right: 50%;
        transform: translateY(-0) translateX(50%);
        top: 170px;
      }
    }

    &--wraper{
      padding-top: 8%;
      padding-bottom: 10%;
      max-width: 70%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      max-width: 1400px;
      width: 90%;
      margin: 0 auto;
      min-height: calc(100vh - 61px);
    }
  }

  &__blow{
    padding-top: 80px;
    padding-bottom: 80px;
    height: 100vh;
    max-width: 60%;
    padding-left: 65px;
    // border-left: 5px solid #FFD02B;
    margin: 0 auto;
    align-items: center;
    display: flex;
    position: relative;

    @include breakpoint($medium, down){
      display: none;
    }

    &.responsive{
      display: none;
      min-height: 100vh;
      height: auto;
      padding: 0;

      &::before{
        display: none;
      }

      @include breakpoint($medium, down){
        display: flex;
      }

      h2{
        position: relative;
        font-size: 24px;
        line-height: 124.5%;
        margin-top: 80px;
        transform: translateY(0);
        padding: 30px 0;

        &.even{
          text-align: right;
          padding-right: 20px;
          border-right: 2px solid $yellow;
        }

        &.odd{
          padding-left: 20px;
          border-left: 2px solid $yellow;
        }
        &:last-child{
          text-align: center;
          border: 0;
        }
      }
    }
    &::before{
      content: '';
      height: 60vh;
      width: 5px;
      background-color: $yellow;
      left: 0;
      position: absolute;
    }

    @include breakpoint($medium, down){
      margin: 9% 3%;
      max-width: 90%;
    }

    h2{
      font-size: 58px;
      line-height: 124.5%;
      margin: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      @include breakpoint($medium, down){
        font-size: 48px;
        text-align: left;
      }

      @include breakpoint($small, down){
        font-size: 38px;
        text-align: left;
      }
    }
  }

  &__sum{
    svg{
      // margin-bottom: 20px;
    }

    h3{
      font-weight: bold;
      font-size: 50px;
      line-height: 64px;
      text-align: center;
      margin: 0;
      margin-bottom: 30px;
    }
    p{
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      max-width: 750px;
      width: 90%;
    }
  }

  &__exp{
    max-width: 70%;
    display: flex;
    justify-content: space-between;
    max-width: 840px;
    width: 80%;
    margin: 0 auto;
    margin-top: 110px;
    align-items: center;
    flex-wrap: wrap;

    @include breakpoint($medium, down){
      flex-direction: column;
      margin-top: 110px;
    }
    &--head{
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;

      svg{
        align-self: center;
      }

      h3{
        @include breakpoint($small, down){
          font-size: 36px;
          line-height: 41px;
        }
      }
    }
    &--txt{
      max-width: 50%;

      @include breakpoint($medium, down){
        max-width: 100%;
      }

      h3{
        font-weight: bold;
        font-size: 38px;
        line-height: 31px;
        margin-bottom: 75px;

        @include breakpoint($medium, down){
          text-align: center;
        }
      }
      p{
        text-align: left;

        @include breakpoint($small, down){
          font-size: 14px;
          line-height: 24px;
        }
        i{
          text-decoration: none;
          color: $blue;
        }
      }

    }
    &--visu{
      width: 50%;
      display: flex;
      justify-content: center;

      @include breakpoint($medium, down){
        max-width: 100%;
        margin-top: 50px;
      }
    }
  }

  &__how{
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    width: 90%;
    margin: 0 auto;
    margin-top: 150px;
    align-items: center;
    flex-direction: column;

    @include breakpoint($small, down){
      margin-top: 30px;
    }

    h2{
      font-weight: bold;
      font-size: 50px;
      line-height: 64px;
      text-align: center;
      margin: 0;
      margin-bottom: 200px;

      @include breakpoint($medium, down){
        margin-bottom: 100px;
      }
      @include breakpoint($small, down){
        font-size: 36px;
        line-height: 41px;
      }
    }

    ul{
      display: flex;
      justify-content: space-between;
      @include breakpoint($large, down){
        flex-wrap: wrap;
      }

      @include breakpoint($medium, down){
        justify-content: center;
      }

      li{
        position: relative;
        width: calc((100% - 10%) / 4);

        @include breakpoint($large, down){
          margin-bottom: 150px;
          width: calc((100% - 10%) / 2);
        }

        @include breakpoint($medium, down){
          margin-bottom: 70px;
          width: 90%;
        }


        i{
          position: absolute;
          font-size: 206px;
          line-height: 237px;
          opacity: 0.3;
          color: $blue;
          font-style: normal;
          font-weight: normal;
          top: 0;
          transform: translateY(-63%);

          @include breakpoint($medium, down){
            font-size: 80px;
            line-height: 80px;
            left: 50%;
            transform: translateY(-63%) translateX(-50%);
          }
        }
        h4{
          font-weight: bold;
          font-size: 21px;
          line-height: 31px;
          color: $blue;

          @include breakpoint($medium, down){
            text-align: center;
          }
          @include breakpoint($small, down){
            font-size: 21px;
            line-height: 31px;
          }
        }
        p{
          color: $blue;
          font-size: 16px;
          line-height: 24px;
          @include breakpoint($medium, down){
            text-align: center;
          }
        }
      }
    }
  }

  &__why{
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    width: 90%;
    margin: 0 auto;
    margin-top: 90px;
    align-items: center;
    flex-direction: column;

    h2{
      font-weight: bold;
      font-size: 50px;
      line-height: 64px;
      margin-bottom: 20px;

      @include breakpoint($small, down){
        font-weight: bold;
        font-size: 36px;
        line-height: 41px;
        text-align: center;
       }
    }

    & > p{
      font-size: 21px;
      line-height: 31px;
      text-align: center;
      max-width: 750px;
      width: 90%;
      margin-bottom: 60px;

      @include breakpoint($medium, down){
        margin-bottom: 0;
      }
    }

    ul{
      display: flex;
      justify-content: space-around;

      @include breakpoint($medium, down){
        flex-direction: column;
        justify-content: center;
        margin-bottom: 40px;
      }

      li{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        width: 30%;

        @include breakpoint($medium, down){
          width: 100%;
          margin-top: 30px;
        }

        p{
          margin: 0;
          max-width: 90%
        }
      }
    }

    h4{
      text-align: center;
      color: $blue;
      margin-top: 55px;
      margin-bottom: 20px;
    }
    h5{
      text-align: center;
    }
  }

  &__newsletter{
    margin-top: 140px;
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    width: 90%;
    margin: 0 auto;
    margin-top: 90px;
    padding-bottom: 100px;

    @include breakpoint($medium, down){
      flex-direction: column;
      justify-content: center;
    }
    @include breakpoint($small, down){
      padding-bottom: 0px;
    }

    &--form{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 50%;

      @include breakpoint($medium, down){
        width: 100%;
      }

      h3{
        font-weight: bold;
        font-size: 50px;
        line-height: 57px;
        @include breakpoint($medium, down){
          text-align: center;
          margin-bottom: 30px;
        }

        @include breakpoint($small, down){
          font-size: 36px;
          line-height: 41px;
        }
      }
      p{

        @include breakpoint($medium, down){
          width: 100%;
          text-align: center;
          margin-bottom: 30px;
        }
      }

      form{
        display: flex;
        @include breakpoint($medium, down){
          justify-content: center;
          max-width: 49%;
          margin: 0 auto;
        }

        p{
          display: flex;
          flex-direction: column;
          justify-content: center;

          @include breakpoint($medium, down){
            width: 100%;
          }

        }
        input{
          border: 1px solid rgba(60, 36, 28, 0.38);
          border-right: 0px;
          padding: 0 20px;
          height: 33px;
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
          margin-right: -2px;
        }
        button{
          -webkit-appearance: meter;
          padding: 8px 17px;
          background-color: $yellow;
          color: white;
          text-transform: uppercase;
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
        }
      }
    }

    &--img{
      display: flex;
      flex-direction: column;
      justify-content: center;

      svg{
        transform: translateY(12%);
      }

      @include breakpoint($medium, down){
        align-items: center;
        svg{
          transform: translateY(0%);
          width: 100%;
        }
      }

      @include breakpoint($small, down){
        transform: translateY(-8%);
      }
    }
  }
}
