
.main-menu{
  display: flex;
  justify-content: center;

  svg{
    margin: 18px 0 ;
  }
}


.home{
  &__intro{
    background: linear-gradient(180deg, #178DF9 0%, #60B3FF 100%);
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;

    h2{
      font-weight: 500;
      font-size: 66px;
      line-height: 76px;
      color: white;
      margin: 0;
      padding-top: 111px;
      max-width: calc(100% - 480px);

      @include breakpoint($large, down){
        max-width: 100%;
        font-size: 50px;
      }
    }
    p{
      font-weight: 300;
      font-size: 26px;
      line-height: 37px;
      color: white;
      margin-top: 45px;
      margin-bottom: 70px;
    }

    &--btns{
      padding-bottom: 170px;
      display: flex;
      @include breakpoint($large, down){
       padding-bottom: 400px;
      }

      a{
        color: white;
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        text-decoration: none;
        border-radius: 5px;
        display: flex;
        align-items: center;

        svg{
          margin-left: 8px;
        }

        &:first-child{
          background-color: $yellow;
          padding: 13px 45px;
          color: white;
          margin-right: 25px;
          text-transform: uppercase;
        }
      }
    }

    .visu_intro{
      position: absolute;
      transform: translateY(-50%);
      top: 55%;
      right: 10%;

      @include breakpoint($large, down){
        transform: translateY(-100%) translateX(50%);
        top: calc(100% - 35px);
        right: 50%;
      }
    }

    &--wraper{
      max-width: 70%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      max-width: 1400px;
      width: 90%;
      margin: 0 auto;
    }
  }

  &__blow{
    padding-top: 80px;
    padding-bottom: 80px;
    margin: 13% 20%;
    padding-left: 65px;
    border-left:  5px solid #FFD02B;

    @include breakpoint($medium, down){
      margin: 9% 3%;
    }

    h2{
      font-size: 58px;
      line-height: 124.5%;
      text-align: justify;
      margin: 0;

      @include breakpoint($medium, down){
        font-size: 48px;
        text-align: left;
      }

      @include breakpoint($small, down){
        font-size: 38px;
        text-align: left;
      }
    }
  }

  &__sum{


    svg{
      margin-bottom: 20px;
    }

    h3{
      font-weight: bold;
      font-size: 50px;
      line-height: 64px;
      text-align: center;
      margin: 0;
      margin-bottom: 30px;
    }
    p{
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      max-width: 750px;
      width: 90%;
    }
  }

  &__exp{
    max-width: 70%;
    display: flex;
    justify-content: space-between;
    max-width: 840px;
    width: 80%;
    margin: 0 auto;
    margin-top: 210px;
    align-items: center;
    flex-wrap: wrap;

    @include breakpoint($medium, down){
      flex-direction: column;
      margin-top: 110px;
    }
    &--head{
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;

      svg{
        align-self: center;
      }
    }
    &--txt{
      max-width: 50%;

      @include breakpoint($medium, down){
        max-width: 100%;
      }

      h3{
        font-weight: bold;
        font-size: 38px;
        line-height: 31px;
        margin-bottom: 75px;

        @include breakpoint($medium, down){
          text-align: center;
        }
      }
      p{
        text-align: left;
        i{
          text-decoration: none;
          color: $blue;
        }
      }

    }
    &--visu{
      width: 50%;
      display: flex;
      justify-content: center;

      @include breakpoint($medium, down){
        max-width: 100%;
      }
    }
  }

  &__why{
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    width: 90%;
    margin: 0 auto;
    margin-top: 90px;
    align-items: center;
    flex-direction: column;

    h2{
      font-weight: bold;
      font-size: 50px;
      line-height: 64px;
      margin-bottom: 20px;
    }

    & > p{
      font-size: 21px;
      line-height: 31px;
      text-align: center;
      max-width: 750px;
      width: 90%;
      margin-bottom: 60px;

      @include breakpoint($medium, down){
        margin-bottom: 0;
      }
    }

    ul{
      display: flex;
      justify-content: space-around;

      @include breakpoint($medium, down){
        flex-direction: column;
        justify-content: center;
        margin-bottom: 40px;
      }

      li{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        width: 30%;

        @include breakpoint($medium, down){
          width: 100%;
          margin-top: 30px;
        }

        p{
          margin: 0;
          max-width: 90%
        }
      }
    }
  }

  &__how{
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    width: 90%;
    margin: 0 auto;
    margin-top: 150px;
    align-items: center;
    flex-direction: column;

    & + h2{
      font-weight: bold;
      font-size: 36px;
      line-height: 31px;
      text-align: center;
      margin-top: 70px;
      margin-bottom: 60px;
    }

    h2{
      font-weight: bold;
      font-size: 50px;
      line-height: 64px;
      text-align: center;
      margin: 0;
      margin-bottom: 200px;

      @include breakpoint($medium, down){
        margin-bottom: 100px;
      }
    }

    ul{
      display: flex;
      justify-content: space-between;
      @include breakpoint($large, down){
        flex-wrap: wrap;
      }

      @include breakpoint($medium, down){
        justify-content: center;
      }

      li{
        position: relative;
        width: calc((100% - 10%) / 4);

        @include breakpoint($large, down){
          margin-bottom: 150px;
          width: calc((100% - 10%) / 2);
        }

        @include breakpoint($medium, down){
          margin-bottom: 70px;
          width: 90%;
        }


        i{
          position: absolute;
          font-size: 206px;
          line-height: 237px;
          opacity: 0.3;
          color: $blue;
          font-style: normal;
          font-weight: normal;
          top: 0;
          transform: translateY(-63%);

          @include breakpoint($medium, down){
            font-size: 80px;
            line-height: 80px;
            left: 50%;
            transform: translateY(-63%) translateX(-50%);
          }
        }
        h4{
          font-weight: bold;
          font-size: 21px;
          line-height: 31px;
          color: $blue;

          @include breakpoint($medium, down){
            text-align: center;
          }
        }
        p{
          color: $blue;
          font-size: 16px;
          line-height: 24px;
          @include breakpoint($medium, down){
            text-align: center;
          }
        }
      }
    }
  }
}
