$breakpoints: (
  small: 576px,
  medium: 968px,
  large: 1200px,
);


$main-font        : 'Ubuntu', sans-serif;

$main-color       : $black;
$secondary-color  : black;


$yellow : #FFD02B;
$black : #3C241C;
